  <% @tweets.each do |tweet| %>

    <div class="sidebar">
     <%= tweet.name %>
    </div>

    <div class="task">
      <span class="name">
        <%= tweet.name %>
      </span>
      <div class="content">
      ここにjavascript埋め込む
      </div>
      <div class="comment">
        <%= simple_format(tweet.text) %>
        <%= tweet.created_at %>
      </div>
    </div>

  <% end %>