 <div class="contents"> 
  <div class="top">
    <h1 class="top-title">Book Management</h1>
    <div class="copy">
      <p>あなたは読んだ本を覚えていますか？<br>
          記録して感想をシェアしませんか？
      </p>
    </div>
    <div class="top-btn">
    <a class="top-btn__item" href="">会員登録</a>
    <a class="top-btn__item" href="">ログイン</a>
    </div>
  </div>
 </div> 