 <div class="contents"> 
  <div class="top">
    <h1 class="top-title">Book Management</h1>
    <div class="copy">
      <p>あなたは読んだ本を覚えていますか？<br>
          記録して感想をシェアしませんか？
      </p>
    </div>
    <div class="top-btn">
      <% if user_signed_in? %>
        <%= link_to "投稿する", new_post_path, class: "top-btn__item" %>
      <% else %>
        <%= link_to "会員登録", new_user_registration_path, class: "top-btn__item" %>
        <%= link_to "ログイン", new_user_session_path, class: "top-btn__item" %>
      <% end %>
    </div>
  </div>
 </div> 