* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body{
  background-color: #f6f6f6;
  height: 100%;
  width: 100%;
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
  }
  .header{
    height: 50px;
    width: 100%;
    padding: 0 50px;
    display: flex;
    position: fixed;
    justify-content: space-between;
    font-family: 'Dancing Script', cursive;
    background-color: #333333;
    position: relative;
    &__title{
      font-size: 25px;
      line-height: 56px;
      font-weight: bold;
      &--text{
        text-decoration: none;
        color: #fff;
        margin: 0; 
        padding: 0;
      }
    }
    &__right{
      &--btn{
        text-decoration: none;
        line-height: 56px;
        font-size: 15px;
        font-weight: bold;
        color: #fff;/*文字色*/
        margin-left: 20px;
        font-family: 'Sawarabi Mincho', ;
      }
    }
  }

  .contents{
    height: calc(100vh - 90px);
    width: 100%;
    background-image: url("https://cdn.pixabay.com/photo/2016/08/24/16/20/books-1617327_1280.jpg");
    background-size: cover;
    opacity: 0.8;
    display: block;
    .top{
      padding-top: 4rem;
      position: relative;
      height: 100%;
      background: rgba(255,255,255,0.5);
      .top-title{
        width: 100%;
        padding-top: 4rem;
        top: 0;
        left: 0;
        position: absolute;
        font-size: 90px;
        color: black;
        text-align: center;
        font-weight: bold;
        display: block;
        font-family: 'Dancing Script', cursive;
      }
      .copy{
        margin-top: 22rem;
        color: #fff;
        text-align: center;
        font-weight: bold;
        font-size: 30px;
        background: rgba(0,0,0,0.5);
      }
      .top-btn{
        margin-top: 140px;
        text-align: center;
        font-weight: bold;
        color: #000000;
        text-decoration: none;
        font-size: 25px;
        &__item{
          color: #ffffff;
          background: rgba(0,0,0,0.5);
          border: 1px solid #fff;
          padding: 0.5rem 2rem;
          font-size: 2.2rem;
          border-radius: 2em;
          margin-right: 15px;
        }
      }
    }
  }
  .main-content{
    margin: 0 40px 20px 40px;
    .content-image-box{
      background-color: #f5f5f5;
      border-bottom: 1px solid hsl(0, 0%, 96%);
      font-family: 'Martel', serif;
      width: 200px;
      height: 280px;
      border-radius: 10px;
      position: relative;
      .content-image{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: auto;
        width: auto;
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        border-radius: 10px;
        object-fit: cover;
      }
    }
  } 
  .show{
    background-color: #f4f4f4;
    height: calc(100vh - 80px);
    overflow: scroll;
  }
  .postManage{
    display: flex;
    justify-content: center;
    padding: 20px;
    .btn-outline-secondary{
      width: 100px;
      color: black;
      margin: 0 10px;
    }
  }
  .post{
    width: 600px;
    margin: 0 auto;
    font-weight: bold;
    color: black;/*文字色*/
    background: #FFF;
    border: solid 1px #999;/*線*/
    border-radius: 10px;/*角の丸み*/
    text-align: center;
    &__User{
      margin-top: 10px;
      text-align: left;
      padding-left: 5px;
      &__name{
        font-weight: bold;
        font-size: 20px;
        color: black;
        &__date{
          font-size: 13px;
        }
      }
    }
    .post-box{
      display: flex;
      &__ImageBox{
        background-color: white;
        border-bottom: 1px solid hsl(0, 0%, 96%);
        font-family: 'Martel', serif;
        width: 200px;
        height: 260px;
        border-radius: 10px;
        position: relative;
        margin: 10px 0 10px 20px;
        &__Image{
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: auto;
          width: auto;
          max-width: 100%;
          max-height: 100%;
          margin: auto;
          border-radius: 10px;
          object-fit: cover;
        }
        
      }
      &__content{
        margin: 10px 15px 15px 100px;
        text-align: left;
        width: 300px;
        &__Title{
          font-weight: bold;
          color: black;/*文字色*/
          background: #FFF;
          // border: solid 3px #CD5C5C;/*線*/
          // border-radius: 10px;/*角の丸み*/
          text-align: center;
          // text-decoration: underline;
          font-size: 23px;
          font-weight: bold;
          width: auto;
          text-align: left;
        }
        &__Review{
          // padding: 0.5em 1em;
          margin: 2em 0;
          font-weight: bold;
          color: black;/*文字色*/
          background: #FFF;
          // border: solid 3px #CD5C5C;/*線*/
          // border-radius: 10px;/*角の丸み*/
          text-align: center;
          text-decoration: underline;
          font-size: 17px;
          width: auto;
          text-align: left;
        }
        &__Text{
          // padding: 0.5em 1em;
          margin: 2em 0;
          font-weight: bold;
          color: black;/*文字色*/
          background: #FFF;
          // border: solid 3px #CD5C5C;/*線*/
          // border-radius: 10px;/*角の丸み*/
          text-align: center;
          // text-decoration: underline;
          width: auto;
          text-align: left;
        }
      }
    }
  }
  .post-redirect{
    margin: 35px 100px 0 100px;
    text-align: center;
    text-decoration: none;
  }
  .menu{
    height: calc(100vh - 80px);
    overflow: scroll;
    background-color: #f5f5f5;
    .menu-bar{
      display: flex;
      background-color: #999;
      justify-content: space-between;
      color: #FFF;
      height: 45px;
      line-height: 45px;
      &__left{
        margin-left: 20px;
        font-size: 18px;
      }
      .search{
        background-color: #999;
        text-align: center;
        margin-right: 20px;
        display: flex;
        width: 350px;
        .search-form{
          width: 100%;
        }
        .search-input{
          border: 1px solid #333333;
          height: 40px;
          border-radius: 0.4em;
          width: 80%;
          color: black;
        }
        .btn-light{
          height: 40px;
          width: 18%;
          margin-left: 2px;
          border: 1px solid #333333;
        }
      }
    }
    h3{
      text-align: center;
      margin: 40px 0;
      font-weight: bold;
      font-size: 40px;
    }
    .menu-post{
      display: flex;
      margin: 0 auto;
      max-width: 900px;
      flex-wrap: wrap;
    }
  }
  .footer{
    height: 40px;
    background-color: #000000;
    color: #FFF;
    z-index: 1;
    text-align: center;
    line-height: 40px;
    bottom: 0;
    position: absolute;
    width: 100%;
  }
  .form{
    width: 65%;
    height: 100%;
    margin: 0 auto;
    padding-top: 30px;
    &__title{
      display: block;
      width: 100%;
      height: 50px;
    }
    &__review{
      display: block;
      width: 100%;
      height: 50px;
      margin-top: 15px;
      display: flex;
      &__right{
        width: 250px;
      }
    }
    &__content{
      display: block;
      width: 100%;
      height: 100px;
      margin-top: 15px;
    }
    .Image{
      margin-top: 20px;
      font-size: 17px;
      position: relative;
      .preview{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: auto;
        width: auto;
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        border-radius: 10px;
        object-fit: cover;
      }
      &__box{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: auto;
        width: auto;
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        border-radius: 10px;
        object-fit: cover;
      }
    }
    &__image{
      display: block;
      width: 100%;
      height: 50px;
      margin-top: 15px;
    }
    .btn-light{
      display: block;
      width: 30%;
      margin: 15px auto 0;
    }
  }
  .user{
    padding: 15px 30px;
  }
  .sidebar-bottom{
    position: absolute;
    // bottom: 0;
    font-size: 20px;
    top: 70%
  }
  .content-title{
    font-size: 30px;
    padding-top:30px;
    margin-left: 20px;
    text-align: center;
    font-weight: bold;
  }
  .new{
    height: calc(100vh - 90px);
    overflow: scroll;
    width: 100%;
    background-color: #f5f5f5;
  }
  .show{
    margin: 0 auto;
  }
  .search-second{
    background-color: #f5f5f5;
    height: calc(100vh - 80px);
    .search-bar{
      background-color: #999;
      justify-content: space-between;
      color: #FFF;
      height: 45px;
      line-height: 45px;
      text-align: left;
      text-align: -webkit-right;
      .search-form{
        text-align: center;
        margin-right: 20px;
        display: flex;
        width: 350px;
        padding-top: 3px;
        .search-form{
          width: 100%;
        }
        .search-input{
          border: 1px solid #333333;
          height: 40px;
          border-radius: 0.4em;
          width: 80%;
        }
        .btn-light{
          height: 40px;
          width: 18%;
          margin-left: 2px;
          border: 1px solid #333333;
        }
      }
    }
    h3{
      text-align: center;
      margin: 40px 0;
      font-weight: bold;
      font-size: 40px;
    }
    .search-post{
      display: flex;
      margin: 0 auto;
      max-width: 900px;
      flex-wrap: wrap;
      background-color: #f5f5f5;
    }
  }
  #img_field {
    font-size: 15px;
    margin-top: 10px;
    padding: 5px 8px;
    border: solid 1px rgb(85, 79, 68);
    color: #666;
    position: relative;
    padding: 0;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #fff;
    overflow: hidden;
    box-sizing: border-box;
    transition: 0.3s ease-out;
  }
  #img_field i {
    font-size: 100px;
    color: #aaa;
    line-height: 250px;
    transition: 0.3s ease-out;
  }
  #img_field i.add {
    display: none;
    font-size: 50px;
    position: absolute;
    top: -90px;
    right: 15px;
  }
  #img_field:hover {
    background-color: rgb(151, 147, 140);
    transition: 0.3s ease-out;
    opacity: 0.9;
  }
  #img_field:hover i {
    transition: 0.3s ease-out;
    display: block;
    color: #fff;
  }
  .preview{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    border-radius: 10px;
    object-fit: cover;
  }
  .flex{
    display: flex;
    margin-bottom: 24px;
  }
  .btn-success{
    // margin: 24px 23%;
    margin: 0 auto;
    width: 500px;
    height: 40px;
  }
  .pagination{
    margin: 20px 20px 20px 330px;
  }
  .pagination>li>a {          
    border: none;     /*枠線をなくす*/
    color: #696969;   /*文字の色を変える*/
  }
  
  /* 表示しているページ番号のデザイン */
  .pagination>.active>a {     
    background: #93c9ff;     /*背景の色を変える*/
    border-radius: 15px;     /*角を丸くする*/
  }
  
  /*ホバー時のデザイン*/
  .pagination>li>a:hover {        
    border-radius: 15px;    /*角を丸くする*/
  }
  .fa-image{
    padding-left: 50px;
  }
}